# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/
env/

# VS Code
.vscode/

# Node / frontend
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Hugging Face / model caches
.cache/
huggingface/
